.component-button {
    button {
        background: rgba(135, 183, 255, 0.69);
        border-radius: 15px;
        border: 0;

        font-weight: 700;
        font-size: 24px;

        color: #DFECFF;

        width: 100%;

        padding: 23px 0;

        &:hover{
            cursor: pointer;
            background: #a5c9ff;
        }
    }
}